<title><%= title %></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<script src="/js/main.js" defer="" type="module"></script>
<script
    src="https://kit.fontawesome.com/37c25c7fb3.js"
    crossorigin="anonymous"
></script>
<link rel="shortcut icon" href="/assets/favicon.ico" />
<link rel="icon" href="/assets/favicon.ico" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/nav-foot.css" />
