<header class="nav-wrapper">
    <div class="nav">
        <a href="/">
            <img src="assets/logo.svg" alt="Logo" />
        </a>
        <form class="search" method="GET" action="/">
            <select name="category" id="categories-select">
                <option value="all">All</option>
                <option value="family">Family</option>
                <option value="party">Party</option>
                <option value="puzzles">Puzzles</option>
            </select>
            <input type="text" name="name" placeholder="Search" />
            <button type="sumbit" class="fas fa-search"></button>
        </form>
        <a href=""><i class="fas fa-shopping-cart"></i> Shopping cart </a>
    </div>
</header>
