@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&family=Playfair+Display:wght@400;900&display=swap')

$sans-serif: 'Montserrat', sans-serif
$serif: 'Playfair Display', serif
$white: #f9fafc
$main: #f85c50
$main-light: #fbceb5
$secondary: #212121
